:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #242424; */
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  /* display: flex;
  place-items: center; */
  min-width: 320px;
  min-height: 100vh;
  /* background-color: #ffffff; */
  background-color: #F8FAFC;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  /* border: 1px solid transparent; */
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #444444;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  /* border-color: #f872fa; */
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    /* color: #f872fa; */
  }
  button {
    /* background-color: #f9f9f9; */
    background-color: #EFEBE6;
  }
}

/* 針對主內容區域隱藏滾動條 */
main.overflow-y-auto {
  /* -ms-overflow-style: none;  針對 IE 和 Edge */
  /* scrollbar-width: none;     針對 Firefox */
}
/* 1. 設定滾動條的寬度與高度 */
::-webkit-scrollbar {
  width: 10px;  /* 垂直滾動條寬度 */
  height: 10px; /* 水平滾動條高度 */
}

/* 2. 滾動條的軌道 (底色) */
::-webkit-scrollbar-track {
  background: transparent; /* 讓它透明，才不會有一條白白的在那裡 */
}

/* 3. 滾動條本體 (拉桿) */
::-webkit-scrollbar-thumb {
  background-color: #D6D3D1; /* 使用暖灰色，比較有質感 */
  border-radius: 20px;       /* 讓拉桿變圓角 */
  border: 2px solid transparent; /* 透過透明邊框製造一點點留白感 */
  background-clip: content-box;
}

/* 4. 當滑鼠移上去時，讓拉桿顏色深一點點 */
::-webkit-scrollbar-thumb:hover {
  background-color: #A1887F; /* 變回你按鈕的棕色 */
}